@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
$primary: #a975ff;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5513c0;
}
*.more-width::-webkit-scrollbar {
  width: 10px;
}
body {
  background-color: #f7fbfe;
}
main {
  @include center();
  border: 10px solid transparent;
  height: 100vh;
  nav {
    height: 100%;
    background-color: white;
    width: 20%;
    position: sticky;
    #logo {
      margin: 20px 0px;
      height: 100px;
      @include center();
      img {
        height: 70px;
        width: 150px;
      }
    }
    h4 {
      margin-left: 25px;
    }
    ul {
      list-style: none;
      margin: 20px 25px;
      li {
        display: block;
        height: 40px;
        color: #a5b5e2;
        cursor: pointer;
        @include center();
        justify-content: flex-start;
        i {
          margin-right: 25px;
          width: 10px;
        }
        &:hover {
          //background-color: rgba(102, 102, 102, 0.096);
          color: black;
          i {
            color: $primary;
          }
        }
      }
    }
    #arrow {
      display: block;
      cursor: pointer;
    }
    #dropMenu {
      height: 0;
      width: 110px;
      float: right;
      overflow: hidden;
      border-radius: 7px;
      box-shadow: 0 0 10px $primary;
      transition: all 0.5s;
      color: $primary;
      li {
        text-align: center;
        justify-content: center;
      }
      #logout {
        cursor: pointer;
      }
    }
    #username {
      float: left;
      margin: 0 25px;
    }
  }
  #feed {
    width: 50%;
    height: 100%;
    padding: 20px;
    overflow: auto;
    .create {
      width: 100%;
      height: 100px;
      @include center();
      border-bottom: 1px solid rgba(49, 48, 48, 0.089);
      flex-direction: column;
      textarea {
        width: 80%;
        height: 60%;
        border: 2px solid $primary;
        border-radius: 5px;
        outline: none;
        resize: none;
      }
      button {
        background-color: $primary;
        border: 2px solid $primary;
        outline: none;
        border-radius: 0 0 5px 5px;
        color: white;
        width: 70px;
        height: 30px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background-color: white;
          color: $primary;
        }
      }
    }
    #posts {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .post {
        background: $primary;
        background: linear-gradient(
          180deg,
          #a975ff 0%,
          rgba(255, 255, 255, 1) 40%
        );
        overflow-y: auto;
        border-radius: 10px;
        border: 2px solid white;
        box-shadow: 0px 19px 38px -8px rgba(0, 0, 0, 0.22);
        padding: 10px;
        height: 250px;
        .post-head {
          padding: 5px 15px;
          height: 30%;
          color: white;
          .date {
            font-weight: 300;
            font-size: 0.7em;
            color: rgb(245, 239, 239);
            abbr {
              text-decoration: none;
              cursor: default;
            }
          }
        }
        .post-body {
          padding: 5px 15px;
          height: 60%;
          margin: auto;
        }
        .post-foot {
          position: relative;
          height: 10%;
          border-top: 1px solid rgba(49, 48, 48, 0.089);
          padding-left: 15px;
          color: $primary;
          .like-button {
            cursor: pointer;
            width: 50px;
            position: relative;
            img {
              height: 20px;
              width: 20px;
              position: absolute;
            }
          }
          span {
            position: absolute;
            left: 20%;
          }
        }
      }
      img {
        width: 100px;
        height: 100px;
        margin-left: 50%;
        transform: translateX(100%);
      }
    }
  }
  aside {
    width: 30%;
    height: 100%;
  }
}
#container {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/layered-waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -220px;
  @include center();
  flex-direction: column;
  #sign-card {
    width: 400px;
    height: 450px;
    background-color: rgb(118, 54, 143);
    @include center();
    flex-direction: column;
    border-radius: 10px;
    * {
      margin: 20px;
      width: 300px;
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: 0;
      padding: 5px;
      color: $primary;
    }
    img {
      height: 100px;
      width: 100px;
    }
    button {
      cursor: pointer;
    }
  }
  img {
    width: 250px;
    height: 100px;
    margin-bottom: 30px;
  }
}
.opened {
  height: 100px !important ;
  padding: 5px;
}
